.res-grid {
    display: grid;
    container-type: inline-size;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}

.col-span-1 {
    grid-column: auto;
    background-color: blue
}

.col-span-2 {
    grid-column: span 2;
    background-color: red;

}

.col-span-4 {
    grid-column: span 4;
    background-color: green;

}

.res-container {
    width: 100%;
    height: 32px;
}

@container (width < 400px) {
    .col-span-2 {
        opacity: 0.5;
        grid-column: span 1;
    }

    .col-span-4 {
        opacity: 0.5;
        grid-column: span 1;
    }
}

@container (400px<=width < 800px) {
    .col-span-4 {
        opacity: 0.75;
        grid-column: span 2;
    }
}

.res-flex-container {
    --grid-res: 200px;
    --f-grow: 1;
    --f-shrink: 1;
    display: flex;
    flex-wrap: wrap;
}

.res-flex-sub-large {

    flex-basis: calc(var(--grid-res)*2);
    flex-grow: 1;
    background-color: aqua;

}

.res-flex-sub-small {

    flex-basis: var(--grid-res);
    flex-grow: 1;
    background-color: firebrick;

}